In [1]:
import pandas as pd

In [57]:
def count_top3(years):
    df_list = []
    for year in years:
        path = f'names/yob{year}.txt'
        df = pd.read_csv(path , names=['Name', 'Gender', 'Quantity'])
        df_list.append(df)

    df_res = pd.concat(df_list)
    df_res.set_index(['Name'], inplace=True)
    df_sum = df_res.groupby(['Name']).sum()
    df_sorted = df_sum.sort_values('Quantity', ascending=False).head(3)
    return df_sorted


count_top3([1880])

         Quantity
Name
John         9701
William      9562
Mary         7092

In [58]:
count_top3([1900, 1950, 2000])

        Quantity
Name
James     111789
John      109601
Robert    101368

In [84]:
def count_dynamics(years):
    df_list = []
    for year in years:
        path = f'names/yob{year}.txt'
        df = pd.read_csv(path , names=['Name', 'Gender', 'Quantity'])
        df['Year'] = year
        df_list.append(df)
        
    df_res = pd.concat(df_list)
    df_sum = df_res.groupby(['Gender', 'Year']).sum()
    return df_sum
    
    
count_dynamics([1900, 1950, 2000])

             Quantity
Gender Year
F      1900    299798
       1950   1713065
       2000   1815295
M      1900    150480
       1950   1790437
       2000   1963202